.vs/
Documentation/~$Tasks.xlsx
/PowerGridMapDemo/bin
/PowerGridMapDemo/obj
/PowerGrid/ClientApp/.vscode/launch.json
/PowerGrid/ClientApp/.vscode/launch.json
/PowerGrid/ClientApp/.angular/cache/angular-webpack
/PowerGrid/ClientApp/.angular/cache/babel-webpack
/PowerGrid.Tests/data/endofround7.json
/PowerGrid.Tests/data/endofround6.json
/PowerGrid.Tests/data/endofround5.json
/PowerGrid.Tests/data/endofround4.json
/PowerGrid.Tests/data/endofround3.json
/PowerGrid.Tests/data/endofround2.json
/PowerGrid.Tests/data/endofround1.json
/PowerGrid.Tests/data/actual
