.vs/
Documentation/~$Tasks.xlsx
/PowerGridMapDemo/bin
/PowerGridMapDemo/obj
/PowerGrid/ClientApp/.vscode/launch.json
/PowerGrid/ClientApp/.vscode/launch.json
/PowerGrid/ClientApp/.angular/cache/angular-webpack
/PowerGrid/ClientApp/.angular/cache/babel-webpack
