<div>
  <button (click)="onStartRestart()">Start/Restart</button>
  <div *ngIf='gameState'>
    <div container>
      <div class="row">
        <div class="col-2">
          <!-- gamestate block-->
          <div id='rgamestate'>
            Seconds Left: {{timeLeft | number : '1.1-1'}}<br>
            Phase: {{gameState.currentPhase}}<br>
            Step: {{gameState.currentStep}}<br>
            CurrentPlayer: <span *ngIf="gameState.currentPlayer !== null">{{gameState.currentPlayer.name}}</span><br>
            CurrentBidder: <span *ngIf="gameState.currentBidder !== null">{{gameState.currentBidder.name}}</span><br>
            <button (click)="onAdvance()">Advance</button>
            <button (click)="onPassAuction()">Pass Auction</button>
          </div>
          <app-player-order [players]='gameState.playerOrder' [gameState]='gameState'></app-player-order>
          <app-resource-market [market]='gameState.resourceMarket'></app-resource-market>
        </div>
        <div class="col-10">
          <app-player-list [players]='gameState.players'></app-player-list>
        </div>
      </div>
    </div>
    <app-auction-house [auctionHouse]='gameState.auctionHouse' [currentBidder]='gameState.currentBidder'></app-auction-house>
    <app-map [map]='gameState.map'></app-map>
  </div>
</div>
