<div *ngIf="map">
  Map
  <br>
  <div (click)="onBuyGenerator(city)" *ngFor="let city of map.cities" id="rcity" style="display: inline-block">
    {{city.name}}
    <br>
    <div id="rgenerator" style="display: inline-block" [ngStyle]="{'background-color': getColor(city.generators[0])}">
    </div>

    <div id="rgenerator" style="display: inline-block" [ngStyle]="{'background-color': getColor(city.generators[1])}">
    </div>

    <div id="rgenerator" style="display: inline-block" [ngStyle]="{'background-color': getColor(city.generators[2])}">
    </div>
  </div>
</div>